.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.h1{
  
}
.container{
  background-color: #282c34;
  background-image: url("./images/image1.jpg");
  background-attachment: fixed;
  background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: hidden;
}
.quantity_input{
  height: 30px;
  width: 70px;
  border: none;
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.button{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  font-size: 50px;
  margin: 10px 20px;
  color: aliceblue;
}
.quantity-minus{
  background-color: red;
}
.quantity-plus{
  background-color: green;
}
